#mynetwork {
    width: 600px;
    height: 355px;
    border: 1.5px solid lightgray;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mynetwork1 {
    width: 415px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#mynetwork2 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#mynetwork3 {
    width: 415px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#mynetwork4 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

#mynetwork5 {
    width: 600px;
    height: 300px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

#mynetwork6 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

#mynetwork7 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

#mynetwork8 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

#mynetwork9 {
    width: 422px;
    height: 200px;
    border: 1.5px solid lightgray;
    margin-top: 0.1cm;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}